<template>
  <div class="text-center">
    <h1 class="py-6 text-xl font-bold uppercase">About</h1>
    <h4 class="py-2 font-bold">API source</h4>
    <p class="pb-6"><a href="https://restcountries.com" target="_blank">REST Countries</a></p>
    <p class="pt-6"><a href="https://ddujin.com" target="_blank">ddujin 2021.</a></p>
  </div>
</template>
