<template>
  <div>
    <div v-if="loading">Loading...</div>
    <div v-else>
      <div class="text-center p-4 bg-indigo-100">{{ country[0].name.common }}</div>
      <div class="border border-indigo-200 rounded mx-4 mt-4 p-4 max-w-screen-sm text-xs md:text-sm sm:mx-auto 2xl:mx-auto">
        <p>Name: {{ country[0].name.common }}</p>
        <p class="mb-2">Official: {{ country[0].name.official }}</p>
        <p>Region: {{ country[0].region }}</p>
        <p class="mb-2">Subregion: {{ country[0].subregion }}</p>
        <p class="mb-2">Capital: {{ country[0].capital.[0] }}</p>
        <p>Population: {{ country[0].population }}</p>
        <p>Area: {{ country[0].area }} km<sup>2</sup></p>
        <p>Top level domain:</p>
        <ul>
          <li v-for="domain in country[0].tld" :key="domain" class="ml-4">{{ domain }}</li>
        </ul>
        <p>Time zones:</p>
        <ul>
          <li v-for="timezone in country[0].timezones" :key="timezone" class="ml-4">{{ timezone }}</li>
        </ul>
        <p>Languages:</p>
        <ul>
          <li v-for="lang in country[0].languages" :key="lang" class="ml-4">{{ lang }}</li>
        </ul>
        <p>Currencies:</p>
        <ul>
          <li v-for="currency in country[0].currencies" :key="currency" class="ml-4">{{ currency.code }} - {{ currency.name }}</li>
        </ul>
        <p>Flag:</p>
        <div class="w-56 ml-4 border border-gray-100"><img :src="country[0].flags.svg"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CountryDetails",
  data() {
    return {
      country: [],
      loading: true,
    };
  },
  props: {
    countryCode: {
      type: String,
      required: true,
    },
  },
  methods: {
    async fetchCountryData() {
      const res = await fetch(
          "https://restcountries.com/v3.1/alpha/" + this.countryCode
      );
      return res.json();
    },
  },
  async created() {
    this.country = await this.fetchCountryData();
    this.loading = false;
  },
};
</script>
