<template>
  <div class="flex flex-col mt-8">
    <div v-for="reg in regions" :key="reg.slug" class="my-2 mx-auto">
      <router-link
        :to="{ name: 'Region', params: { slug: reg.slug } }"
        class="block w-64 text-center bg-indigo-200 py-4 rounded hover:bg-indigo-100"
      >
        {{ reg.name }}
      </router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  data() {
    return {
      regions: [
        {
          name: "Africa",
          slug: "africa",
        },
        {
          name: "Americas",
          slug: "americas",
        },
        {
          name: "Asia",
          slug: "asia",
        },
        {
          name: "Europe",
          slug: "europe",
        },
        {
          name: "Oceania",
          slug: "oceania",
        },
      ],
    };
  },
};
</script>
