<template>
  <div>
    <div class="text-center p-4 bg-indigo-100">{{ slug.toUpperCase() }}</div>
    <div v-if="loading">Loading...</div>
    <div
      v-else
      class="
        grid grid-cols-2
        md:grid-cols-3
        lg:grid-cols-4
        xl:grid-cols-5
        gap-4
        m-4
        max-w-screen-2xl
        2xl:mx-auto
      "
    >
      <div v-for="country in countries" :key="country.name.common">
        <Country :details="country" />
      </div>
    </div>
  </div>
</template>

<script>
import Country from "../components/Country";

export default {
  name: "Region",
  components: { Country },
  data() {
    return {
      countries: [],
      loading: true,
    };
  },
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  methods: {
    async fetchCountriesData() {
      const res = await fetch(
        "https://restcountries.com/v3.1/region/" + this.slug
      );
      return res.json();
    },
  },
  async created() {
    this.countries = await this.fetchCountriesData();
    this.loading = false;
  },
};
</script>

<style scoped></style>
