<template>
  <div @click="gotoCountry" class="card border border-indigo-100 text-xs bg-contain bg-no-repeat rounded text-right p-2 hover:border-indigo-200 cursor-pointer" :style="bgImage">
    <p class="truncate backdrop-filter font-bold">{{ details.name.common }}</p>
    <p class="truncate italic">{{ details.name.official }}</p>
    <p>{{ details.capital[0] }}</p>
  </div>
</template>

<script>
export default {
  name: "Country",
  props: ["details"],
  computed: {
    bgImage() {
      return "background-image: url(" + this.details.flags.svg + ")";
    },
  },
  methods: {
    gotoCountry() {
      this.$router
        .push({
          name: "CountryDetails",
          params: {
            countryCode: this.details.cca3.toLowerCase(),
          },
        })
        .catch(() => {});
    },
  },
};
</script>

<style scoped>
p {
  text-shadow: 1px 1px 2px #fff, 1px 1px 3px #ccc;
}
</style>
